<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UserRoleMapper">

    <resultMap type="com.springboot.bean.Role" id="role">
        <id column="role_id" property="id" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
        <id column="role_name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <id column="role_desc" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByUserName" resultMap="role">
        SELECT r.role_id ID, r.role_name NAME, r.role_desc memo FROM m_role r, m_user_role ur, m_user u WHERE r.role_id
        = ur.role_id AND u.user_id = ur.user_id AND u.user_name = #{userName,jdbcType=VARCHAR}
    </select>

</mapper>